<mat-card>
  <mat-card-title>Cryptos</mat-card-title>

  <mat-chip-list aria-label="Fish selection">
    <mat-chip *ngFor="let item of cryptoAcc$ | async">
      {{item}}
    </mat-chip>
  </mat-chip-list>
  <br>
  <mat-card-content *ngIf="cryptoListFiltered| async as crypto">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <input type="text"
               placeholder="Pick one"
               matInput
               [formControl]="symbol"
               [matAutocomplete]="symbol1">
        <mat-autocomplete #symbol1="matAutocomplete">
          <ng-container>
            <mat-option *ngFor="let item of crypto" [value]="item.symbol" (click)="addCryptoToAcc(item.symbol)">
              {{item.symbol}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

    </form>

  </mat-card-content>
</mat-card>
