<mat-card>
  <mat-card-title>Products</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"
                     *ngFor="let item of productList$ | async">{{item.id}} {{item.title}}</mat-list-item>
    </mat-list>
    <mat-paginator *ngIf="paginator$|async as paginator"
                   [length]="paginator.length"
                   [pageSize]="paginator.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageIndex]="paginator.index"
                   (page)="setPaginator($event)"
                   aria-label="Select page">
    </mat-paginator>

  </mat-card-content>
</mat-card>
